/* ======================================================================
                        Base Styles (320px)
========================================================================= */

* {
  box-sizing: border-box;
}

body {
  font-family: Montserrat;
  text-align: center;
  /*letter-spacing: 0.1em;*/
  line-height: 1.4em;
  color: #525151;
  /*color: #3e3e3e;*/
  /*background-color: #f4f4f4;*/

  /* MAYBE LIGHTER LATER */
  background-color: #f5f5f5;

  background-color: #d9f1fb;

  background-color: #222930;

  background-color: #292a2a;

  background-color: #F8F8F8;
}

.intro {
  font-size: 0.9em;
  padding-top: 0.5em;
  padding-bottom: 1.5em;
  /*max-width: 95%;*/
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.intro,
.contact p {
  color: #838080;
}

.intro {
  color: black;
}

.portfolio {
  background-color: white;
}

h1 {
  font-size: 1em;
  padding: 2em;
}

.portfolio h2 {
  color: #3e3e3e;
  font-weight: normal;
  font-size: 1.3em;
  margin-bottom: 0;
}

.portfolio p,
.contact p {
  /*max-width: 95%;*/

  font-size: 0.9em;
  /*padding-top: 0em;*/
  padding-bottom: 1em;
  /*max-width: 95%;*/
  padding-left: 1em;
  padding-right: 1em;
  padding-left: 0.75em;
  padding-right: 0.75em;
}

.last-p {
  margin-bottom: 3em;
  /*background-color: lime;*/

  margin-bottom: 1em;
}

h3 {
  font-size: 1em;
  margin-top: 3em;
  margin-bottom: 1.5em;

  margin-bottom: 0.5em;
}

h1,
h3 {
  font-family: 'Roboto Slab', serif;
}

.contact p:nth-child(n+3) {
  margin-bottom: 0;
  padding-bottom: 0;
  margin-top: 0.75em;
  /*background-color: lime;*/
}

ul {
  /*margin: 0;*/
  padding: 0;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #525151;
}

/*p,
h1,
h2,
h3 {
  text-align: center;
}*/

.nav li,
.name {
  display: block;
  text-align: center;
  font-weight: bold;
  padding: 0.4em;
  margin: 0.4em;
}

.name {
  /*font-weight: 900;*/
  font-size: 1.6em;
  padding: 0.5em;
  margin: 0.5em;

  padding-bottom: 0;
}



/*.nav li:not([class="name"]) {
  background-color: white;
}*/

/* changed from .nav li */
.nav a {
  background-color: white;

  padding: 0.5em;
}

.nav li {
  padding-bottom: 0;
  margin-bottom: 0;
}

.phone,
.email {
  font-weight: bold;
  /*color: #3e3e3e;*/
  color: #525151;
  margin-left: 0.5em;
}

.contact p:last-child {
  margin-bottom: 3.5em;
  /*background-color: lime;*/
}

/* IMAGES*/

.profile-image {
  max-width: 70%;
  margin-top: 1.75em;
  margin-bottom: 0.5em;
  align-self: center;

  margin-top: 1em;
}

.portfolio img {
  max-width: 90%;
}

/* BOTTOM NAV */

.bottom-nav {
  font-weight: bold;
  /*font-size: 1em;*/
  /*border-top: 1px solid #ebecec;*/
  border-top: 1px solid #dddddd;
  margin-left: 0.5em;
  margin-right: 0.5em;
  padding-top: 1.5em;
  padding-bottom: 1em;

  padding-top: 0.3em;
  padding-bottom: 0em;
}

.nav-old li,
.nav-new li {
  margin-bottom: 0;
  padding-bottom: 0;
}

.nav-old ul,
.nav-new ul {
  margin-bottom: 0;
  padding-bottom: 0;
}

.nav-old,
.nav-new {
  margin-bottom: 0;
  padding-bottom: 0;
}

.nav-new {
  display: none;
  /*visibility: hidden;*/
}

.back {
  font-size: 0.8em;
  vertical-align: center;
  /*background-color: lime;*/
}

/* FLEXBOX */

.wrapper,
.main-header {
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
}

.bottom-nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

/* MAX-WIDTH FOR PARAGRAPHS */

.nav {
  display: flex;
  flex-direction: column;
  /*min-width: 70%;*/
  /*max-width: 500px;*/
  /*align-self: center;*/
  /*justify-content: center;*/
}

.nav li {
  /*max-width: 500px;*/
  /*align-self: center;*/
  /*justify-content: center;*/
}

.introduction,
.col,
.contact
 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro,
.col p,
.info {
  max-width: 500px;
  /*align-self: center;*/
}

#skills {
  margin-top: 2em;
}

#skills h1 {
  padding-top: 2em;
  margin-top: 0;

  padding-bottom: 0em;
}

#skills h2 {
  font-size: 2em;
}

#skills .html {
  color: #0000FF;
  font-family: 'Roboto Slab', serif;
}
.html-li li {
  background-color: #0000FF;
  background-color: #5757ff;
}

#skills .css {
  color: #05EDFF;
  font-family: 'Roboto Slab', serif;
}
.css-li li {
  background-color: #05EDFF;
  background-color: #25c6d1;
}

#skills .javascript {
  color: #E00000 ;
  font-family: 'Roboto Slab', serif;
}
.javascript-li li {
  background-color: #E00000;
  background-color: #e44a4a;
}

#skills p:first-line {
  font-style: italic;
}

.skills-list li {
  text-align: left;
  list-style-type: decimal;
  list-style-position: outside;
}

.skills-list:last-child {
  margin-bottom: 3.5em;
}

.skills-list {
  display: flex;
  flex-direction: column;
}

.skills-list ol {
  padding-left: 0;
  max-width: 80%;

  max-width: 90%;
}

.skills-list li{
    /*max-width: 90%;*/
    /*background: #ddd;*/
    /*background: #F0F0F0;*/

    /*background: #1496BB;*/
    /*background: #1cbdec;*/
    border-radius: 10px;
    list-style-position: inside;

    /*color: #444;*/
    color: white;
    padding: 0.5em;

    margin-bottom: 0.5em;
}

/* TESTING LINKS TRANSITIONS*/
/*
.nav:hover,
.nav-old:hover,
.nav-new:hover {
  color: white;
}*/

/*.nav a,
.nav-old a,
.nav-new a {
  display: block;
}*/

.nav a,
.nav-new a {
  /*display: block;*/
  /*color: white;*/
  padding: 0.5em;
  border-radius: 10px;
  transition-property: color, background, box-shadow;
  /*transition-duration: .3s;*/
}

a {
  display: flex;
  justify-content: center;
}

.nav a:hover,
.nav-new a:hover {
  color: white;
  background: rgba(74, 137, 202, 1);
  box-shadow: 0 0 0 3px rgba(255, 255, 255, 0.7);
}

/*.nav a:hover,
.nav-old a:hover,
.nav-new a:hover {
  color: white;
}*/

.name {
  margin-bottom: 0;
}

.nav li {
  margin-top: 0.1em;
}

.name,
.nav-new,
.nav-old,
.name-bottom {
  font-family: 'Roboto Slab', serif;
}

/* TEST COLOR TEXT NAV */

.nav a {
  color: rgb(74, 137, 202);
}

/* ======================================================================
                        TABLET Size: 768px Media Query
========================================================================= */

@media (min-width: 768px) {

  .nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .nav li {
    background-color: transparent;
  }

  .introduction {
    display: flex;
    flex-direction: row-reverse;
  }

  .intro,
  .info {
    font-size: 1.1em;
    text-align: left;
    letter-spacing: 0.5px;
    line-height: 1.35em;
    padding-top: 2em;
    padding-left: 1.5em;
    padding-right: 0.1em;
    margin-top: 0;
  }

  .info {
    /*font-size: 100px;*/
    /*width: 75%;*/
    text-align: center;
    padding-top: 1em;
    /*align-self: center;*/
    /*background-color: lime;*/

    max-width: 550px;
  }

  .contact p,
  .phone,
  .email {
    font-size: 1.1em;
    letter-spacing: 0.2px;
  }

  .profile-image {
    max-width: 40%;
    padding: 1em;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0;
    padding-bottom: 3em;

    margin-top: 2em;
  }

  /* NEW PROFILE IMAGE*/

  .items {
    display: flex;
    flex-direction: row;
    /*align-items: center;*/
    flex-wrap: wrap;
    /*align-content: center;*/
    /*justify-content: center;*/

    padding-left: 1em;
    padding-right: 1em;
  }

  .col {
    flex: 1 50%;
  }

  .portfolio img {
    max-width: 95%;
  }

  .portfolio p {
    padding-bottom: 2em;
    padding-left: 2.6em;
    padding-right: 2.6em;
  }

  .contact {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  /* Changing bottom navigation */
  .back {
    visibility: hidden;
  }

  .bottom-nav {
    padding-top: 0.5em;
    padding-bottom: 3em;
    margin-left: 1.5em;
    margin-right: 1.5em;
  }

  .nav-new {
    display: flex;
    flex-direction: row;
    font-size: 0.8em;
    /*visibility: hidden;*/
  }

  .nav-new li:nth-child(n+1) {
    margin-left: 1.5em;
  }

  .javascript {
    margin-top: 2em;
  }

  .name {
    margin-top: 1em;
  }

  .nav li {
    margin-top: 0.4em;
  }

}

/* ======================================================================
                        DESKTOP Size: 1024px Media Query
========================================================================= */

@media (min-width: 1024px) {

  .nav li {
    margin-right: 1.1em;
  }

  .profile-image {
    max-width: 45%;
    padding-left: 1.5em;
    padding-right: 2.5em;
    padding-top: 0;
    padding-bottom: 3em;
    margin-top: 2em;
}

  .col {
    flex: 1 33%;
  }

  .portfolio p {
    /*padding-bottom: 2em;*/
    padding-left: 1.5em;
    padding-right: 1.5em;
}

  h3 {
    font-size: 1em;
    margin-top: 3em;
    margin-bottom: 0.25em;
  }

  .contact p {
    max-width: 55%;
}

  .intro {
    /*vertical-align: center;*/
    /*align-self: center;*/

    /*max-width: 50%;*/

    /*width: 55%;*/

    /*padding-left: 4%;*/

    /*padding-right: 4%;*/
    /*padding-left: 2.5em;
    padding-right: 2.5em;*/
    /*text-align: justify;*/

    max-width: 700px;

    max-width: 600px;
    padding-left: 2.5em;
    margin-right: 0em;
    /*margin: 0 auto 30px;*/
  }

  .portfolio {
    width: 95%;
    align-self: center;
    /*display: flex;*/
  }

  .col {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
  }

  .portfolio p {
    /*display: inline-block;*/
    align-self: center;
    max-width: 500px;

    padding-left: 1em;
    padding-right: 1em;

    /*max-width: 300px;*/
    /*background-color: lime;*/

    /*-webkit-margin-after: 0em;*/
    /*max-width: 400px;
    margin: 0;
    padding: 0;*/
    /*align-self: center;*/
  }

  #bottom-info {
    max-width: 550px;
    /*background-color: lime;*/
  }

  .introduction {
    align-items: flex-start;
    justify-content: center;
  }

  .bottom-nav {
    padding-top: 0.5em;
    padding-bottom: 0;
    margin-left: 3em;
    margin-right: 3em;
  }

  .main-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
  }

  .items {
    padding-left: 1em;
    padding-right: 0em;
  }

  .javascript {
    margin-top: 1em;
  }



}



















/**/
